.main-text{
    width: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
h1{
    font-family: Roboto;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    margin: 0px;
}
p{
    font-family: Roboto;
    font-size: 14px;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    line-height: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
}
button{
    font-family: Roboto;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(22, 160, 134);
    width: 20%;
    height: 60px;
    margin-bottom: 80px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 40%;
    border-width: 0px;
}